td.bottomBorder {
	border-bottom: 1px solid black;
}

td.leftBorder {
	border-left: 1px solid black;
}

td {
	height:100px;
}

table {
	width:300px;
	height:300px;
	table-layout:fixed;
	text-align:center;
}

#resetWrapper {	
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;	
}

#tableDiv {
	bottom: 25%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

#displayMessage {
	text-align: center;
}