body {
	background-image: url(../images/desktop_bg.png);
}

td.bottomBorder {
	border-bottom: 1px solid black;
}

td.leftBorder {
	border-left: 1px solid black;
} 

td {
	width: 120px;
	height: 120px;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.1);
}

td:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
}

table {
	width: 300px;
	height: 300px;
	table-layout:fixed;
	text-align:center;
}

.avatars {
	width:100px;
	height:100px;
}

.formComputer {
	display:none;
}

.modal-header {
	color: white;
	background-color: red;
}

.form-check-input, .custom-select, .avatars {
	cursor: pointer;
}

#settingButton {
	position: absolute;
	top: 2%;
	left: 85%;
	text-transform: uppercase;
	font-weight: 400;
}

#settingButton:hover {
	background-color: lightgrey;
	color: grey;
	border: 1px solid white;
}

#resetButton {
	background-color: grey;
	border: 1px solid white;
	border-radius: 5px;
}

#resetButton:hover {
	background-color: lightgrey;
	color: grey;
}

#resetWrapper {
	padding-bottom: 0.5%;
}

#tableDiv {
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

#displayMessage {
	text-align: center;
	padding-bottom: 20px;
}

#imageNotice {
	font-size:12px;
}

#scoreDivs {
	width: 15%;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	left: 0%;
}

/* SCORE TRACKER STYLES */

.scoreImg {
	width: 10%;
	height: 10%;
	padding-right: 1%;
}

.scoreDiv {
	display: flex;
}

@media only screen and (max-width: 600px) {
	table {
		width: 90vw;
		height: 70vh;
		table-layout: auto;
	}

	td {
		width: 50vw;
	}

	td .avatars {
		display: block;
		width: 100%;
		height: 100%;
	}

	#resetButton {
		width: 40%;
	}

	#button-container {
		position: absolute;
		width: 45vw;
		height: 20vw;
		margin-left: 12%;
		opacity: 50%;
	}

	#button-container:hover {
		opacity: 100%;
	}

	#tableDiv {
		position: absolute;
		top: 50%;
		left: 50%;
	}
	
	#scoreDivs {
		position: absolute;
		top: 0%;
		left: 0%;
		font-size: 70%;
		width: 50vw;
		opacity: 50%;
	}

	#scoreDivs:hover  {
		opacity: 100%;
	}

	#scoreHeader {
		font-size: 120%;
		margin-bottom: -0.25%;
		margin-left: -3%;
	}

	#cardContent {
		margin-top: -10%;
		margin-bottom: -10%;
	}

	#displayMessage {
		margin-top: 10%;
	}

	.scoreImg {
		width: 15%;
		height: 15%;
		margin-left: -10%;
	}

	.card-text {
		margin-left: 2%;
	}
}